<h1>Editing apartment</h1>

<p><%= link_to @apartment.link, @apartment.link %></p>

<%= render 'form' %>

<%= link_to 'Show', @apartment %> |
<%= link_to 'Back', map_apartments_path(:max_price => 2500, :cats => 'Y') %>
